In [ ]:
import numpy as np
import matplotlib.pyplot as plt

from scipy.stats import ttest_ind

In [ ]:
group1 = np.genfromtxt('week1.csv', delimiter=',')

In [ ]:
group1

In [ ]:
group2 = np.genfromtxt("week2.csv", delimiter=",")

In [ ]:
group2

In [ ]:
# State the Hypothesis

# H0(Null Hypothesis) : (Mean of Group - 1) = (Mean of Group - 2)
# H1(Alternate Hypothesis) : (Mean of Group - 1) != (Mean of Group - 2) 
                                    # ----> (Mean of Group - 1) > (Mean of Group - 2) 
#                                                              OR
#                                     ----> (Mean of Group - 1) < (Mean of Group - 2)
# 
# Level of Significance = 0.05(95%)

In [ ]:
# Obtain the p-value for the two independent sets using scipy

tstat, pval = ttest_ind(group1, group2)

In [ ]:
tstat, pval
# tstat is less means less deviation

In [ ]:
if pval < 0.05:
    print("Null Hypothesis can be rejected based on the sample data!")
    print("Samples are statistically different!")
else:
    print("Null Hypothesis can be accepted based on the sample data!")
    print("Samples are not statistically different!")

In [ ]:
group1.mean()

In [ ]:
group2.mean()

In [ ]:
plt.hist(group1, bins = 20, color = 'red',alpha = 0.8) # alpha controls the transparency of the bars
plt.hist(group2, bins = 20, color = 'green',alpha = 0.5)

In [ ]:
# Paired Sample : Tests the difference b/w two measurements of the same variable

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from scipy.stats import ttest_rel

In [ ]:
data  = pd.read_csv('blood_pressure.csv')

In [ ]:
data.head()

In [ ]:
data.dtypes

In [54]:
new_row = {'patient':121, 'sex': 'Male', 'agegrp': '30-45', 'bp_before':130, 'bp_after': 120}
new_df = pd.DataFrame([new_row])  # Create a DataFrame from new_row
 
data1 = pd.concat([data, new_df], ignore_index=True) # Concatenate DataFrames

data1

     patient     sex agegrp  bp_before  bp_after
0          1    Male  30-45        143       153
1          2    Male  30-45        163       170
2          3    Male  30-45        153       168
3          4    Male  30-45        153       142
4          5    Male  30-45        146       141
..       ...     ...    ...        ...       ...
116      117  Female    60+        161       152
117      118  Female    60+        165       174
118      119  Female    60+        149       151
119      120  Female    60+        185       163
120      121    Male  30-45        130       120

[121 rows x 5 columns]

In [58]:
data.loc[data['patient']==121, 'patient'] = 6

In [59]:
data

     patient     sex agegrp  bp_before  bp_after
0          1    Male  30-45        143       153
1          2    Male  30-45        163       170
2          3    Male  30-45        153       168
3          4    Male  30-45        153       142
4          5    Male  30-45        146       141
..       ...     ...    ...        ...       ...
115      116  Female    60+        152       152
116      117  Female    60+        161       152
117      118  Female    60+        165       174
118      119  Female    60+        149       151
119      120  Female    60+        185       163

[120 rows x 5 columns]

In [60]:
data1

     patient     sex agegrp  bp_before  bp_after
0          1    Male  30-45        143       153
1          2    Male  30-45        163       170
2          3    Male  30-45        153       168
3          4    Male  30-45        153       142
4          5    Male  30-45        146       141
..       ...     ...    ...        ...       ...
116      117  Female    60+        161       152
117      118  Female    60+        165       174
118      119  Female    60+        149       151
119      120  Female    60+        185       163
120      121    Male  30-45        130       120

[121 rows x 5 columns]

In [ ]:
# H0 : There is no difference in the bp readings
# H1 : There is a difference in the bp readings

In [61]:
tstat, pval = ttest_rel(data1['bp_before'], data1['bp_after'])

In [62]:
tstat, pval

(3.390704961113693, 0.0009443251842367588)

In [63]:
if pval < 0.001 : 
    print('Reject the null hypothesis!')
else:
    print('Accept the null hypothesis!')

Reject the null hypothesis!

# Z-Test
* Sample size >30
* Variance of data is not known

In [66]:
from statsmodels.stats import weightstats as st

In [69]:
zstats, pval = st.ztest(data1['bp_before'],data1['bp_after'])

In [70]:
zstats, pval

(3.053220716608654, 0.0022639935144279024)

In [71]:
if pval < 0.001 : 
    print('Reject the null hypothesis!')
else:
    print('Accept the null hypothesis!')

Accept the null hypothesis!

# ANOVA
* Analysis Of Variance
* Compares the Variance between the groups to the variance within the groups