# Statistics

In [ ]:
# Descritive Statistics
# Probability Distribution
# Inferential Statistics : Hypothesis Testing (t-test, f-test, z-test, chi-square, ANOVA....)
# Estimation
# sampling
# Regression and correlation
# Data Visualization

In [ ]:
# Descritive Statistics : 
# Summary (describe)
# pandas numpy scipy

In [ ]:
# Descritive Statistics

In [8]:
# Import the required packages
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

In [2]:
# Load the dataset
data=pd.read_csv("Store.csv")

In [3]:
# Summary
data.describe()

,Unnamed: 0,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4996.500000,4997.500000,55190.379428,229.858001,3.789574,0.156203,28.656896
std,2885.163629,2885.163629,32063.693350,623.245101,2.225110,0.206452,234.260108
min,0.000000,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2498.250000,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4996.500000,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7494.750000,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9993.000000,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

In [4]:
#mean
data.mean()

Unnamed: 0      4996.500000
Row ID          4997.500000
Postal Code    55190.379428
Sales            229.858001
Quantity           3.789574
Discount           0.156203
Profit            28.656896
dtype: float64

In [6]:
data.median()

Unnamed: 0      4996.5000
Row ID          4997.5000
Postal Code    56430.5000
Sales             54.4900
Quantity           3.0000
Discount           0.2000
Profit             8.6665
dtype: float64

In [ ]:
# min max std var mode median mean

In [ ]:
Quantile and Percentile data distribution

In [10]:
df=np.array([10,20,30,40,50,60,70,80,90,100])

In [12]:
df

array([ 10,  20,  30,  40,  50,  60,  70,  80,  90, 100])

In [ ]:
# Quartile
# 1st Q1 hold 25 th percentile
# 2nd Q2 hold 50th percentile
# 3rd Q3 hold 75th percentile

In [14]:
df.quantile(0.25)

AttributeError: 'numpy.ndarray' object has no attribute 'quantile'

In [15]:
np.percentile(df,25) #Q1

32.5

In [16]:
np.percentile(df,50) #Q2

55.0

In [18]:
np.median(df)

55.0

In [ ]:
# Quartiles 4 parts
# deciles 10 parts
# percentiles 100 parts

In [ ]:
Dataframe .quantile
numpy .percentile

In [23]:
data.columns

Index(['Unnamed: 0', 'Row ID', 'Order ID', 'Order Date', 'Ship Date',
       'Ship Mode', 'Customer ID', 'Customer Name', 'Segment', 'Country',
       'City', 'State', 'Postal Code', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit'],
      dtype='object')

In [24]:
data['Sales'].quantile(0.5)

54.489999999999995

In [25]:
data['Sales'].median()

54.489999999999995

In [26]:
data['Sales'].quantile(0.4) 40th percentile

34.248