# Exception Handling in Python

In [ ]:
# try except else finally are used to handle runtime errors

In [ ]:
# custom exceptions

In [2]:
num=10
den=0
num/den
print("success")

ZeroDivisionError: division by zero

In [3]:
try:
    num=10
    den=0
    num/den
    print("success")
except:
    print("Error in the logic please check")

Error in the logic please check

In [4]:
try:
    num=10
    den=0
    num/den
    print("success")
except ZeroDivisionError:
    print("Denominator cannot be zero, please check")

Denominator cannot be zero, please check

In [5]:
try:
    num=10
    den=0
    num/a
    num/den
    print("success")
except ZeroDivisionError:
    print("Denominator cannot be zero, please check")

NameError: name 'a' is not defined

In [6]:
try:
    num=10
    den=0
    num/a
    num/den
    print("success")

except NameError:
    print("Denominator cannot be character, please check")

except ZeroDivisionError:
    print("Denominator cannot be zero, please check")

Denominator cannot be character, please check

In [7]:
try:
    num=10
    den=0
    num/a
    num/den
    print("success")

except NameError as e:
    print(e)
    print("Denominator cannot be character, please check")

except ZeroDivisionError:
    print("Denominator cannot be zero, please check")

name 'a' is not defined
Denominator cannot be character, please check

In [8]:
try:
    num=10
    den=0
    num/a
    num/den
    print("success")

except (NameError, ZeroDivisionError) as e:
    print(e)

name 'a' is not defined

In [10]:
try:
    num=10
    den=0
    num/den
   
except:
    print("division not possible since denomiator is zero")

finally:
    del den
    print("denominator is deleted")

division not possible since denomiator is zero
denominator is deleted

In [11]:
n=int(input("enter the denominator"))
try:
    num=10
    den=n
    res=num/den
   
except:
    print("division not possible since denomiator is zero")

else:
    print(res*10)     

finally:
    del den
    print("denominator is deleted")

enter the denominator0
division not possible since denomiator is zero
denominator is deleted

In [13]:
n=int(input("enter the denominator   "))
try:
    num=10
    den=n
    res=num/den
   
except:
    print("division not possible since denomiator is zero")

else:
    print(res*10)     

finally:
    del den
    print("denominator is deleted")

enter the denominator   5
20.0
denominator is deleted

In [14]:
try:
    num=10
    den=0
    num/a
    num/den
    print("success")

except Exception as e:
    print(e)

name 'a' is not defined

In [15]:
try:
    num=10
    den=0
    #num/a
    num/den
    print("success")

except Exception as e:
    print(e)

division by zero

In [17]:
try:
    num=10
    den=0
    #num/a
    #num/den
    10 + 'a'
    print("success")

except Exception as e:
    print(e)

unsupported operand type(s) for +: 'int' and 'str'

In [18]:
10  + 'a'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
# Custom Exceptions

In [22]:
class AgeException(Exception):
    def __init__(self,age):
        self.age=age
    
    def __str__(self):
        return f"Sorry, You are not eligible to vote this time, try next time since age must be >=18"

In [23]:
def validate_Age(age):
    if age<18:
        raise AgeException(age)
    else:
        print("Thank you for your valuable vote")

In [24]:
try:
    age=int(input("enter your age "))
    validate_Age(age)
    
except AgeException as e:
    print(e)

enter your age12
Sorry, You are not eligible to vote this time, try next time since age must be >=18

In [25]:
try:
    age=int(input("enter your age "))
    validate_Age(age)
    
except AgeException as e:
    print(e)

enter your age 20
Thank you for your valuable vote

In [26]:
try:
    age=int(input("enter your age "))
    validate_Age(age)
    
except:
    print("bye")

enter your age 12
bye

In [27]:
try:
    age=int(input("enter your age "))
    validate_Age(age)
    
except:
    print("bye")

enter your age 49
Thank you for your valuable vote

In [ ]:
# Banking domain case study