# Data science process

#### Steps
- Problem definition
- Data acquisition
- Data preparation and EDA (Exploratory Data Analysis)
- Feature Engineering and Feature extraction
- Model planning
- Model building
- Model Evaluation
- Model Deployment

# (1) Problem definition

In [ ]:
# Predict Medical Cost based on various personal and lifestyle factors
# Construct regression model that predicts the medical cost using the feature provided

In [ ]:
# Explain Linear Regression Model

# (2) Data acquisition

In [ ]:
# Pre Acquired dataset
# Describe all the features (columns) in the dataset
# dataset consists of the following features which are used to predict the "charges"
'age', 'sex', 'bmi', 'children', 'smoker', 'region'
# Dataset consists of 1338 records

In [1]:
# import the required packages

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt 
import seaborn as sns
import plotly.express as px

from sklearn.linear_model import LinearRegression


import warnings
warnings.filterwarnings("ignore")

In [2]:
# Load the dataset

data=pd.read_csv("insurance.csv")

# Data Exploration

In [3]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [7]:
data.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [9]:
data.shape

(1338, 7)

In [10]:
data.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [13]:
print("Object type data columns",data.select_dtypes(include='object').shape[1])

Object type data columns 3

In [15]:
# Summary of numeric (int and float) data
data.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [16]:
# Summary of object data
data.describe(include='object')

         sex smoker     region
count   1338   1338       1338
unique     2      2          4
top     male     no  southeast
freq     676   1064        364

In [18]:
# Frequency
data['sex'].value_counts()

male      676
female    662
Name: sex, dtype: int64

In [22]:
# Frequency
data['smoker'].value_counts()

no     1064
yes     274
Name: smoker, dtype: int64

In [23]:
# Duplicate data
# data[data.duplicated()==True]
data[data.duplicated()].sum()

age                19
sex              male
bmi             30.59
children            0
smoker             no
region      northwest
charges     1639.5631
dtype: object